{%extends "tallerdb/baseini.html"%}
{%block content%}
{% load static %}
<body>
  <div class="login">
    <div class="login-triangle"></div>
    
    <h2 class="login-header">Log in</h2>
  
    <form class="login-container">
      <p><input type="email" placeholder="Email"></p>
      <p><input type="password" placeholder="Password"></p>
      <p><input type="submit" value="Log in"></p>
    </form>
  </div>
  <br>
  <br><br><br><br><br><br><br>
  <footer class="text-bg-dark text-center pt-3 pb-3">
    Belalv ©Copyright
    <span class="mx-2 fs-3"><i class="bi bi-whatsapp"></i></span>
    <span class="mx-2 fs-3"><i class="bi bi-facebook"></i></span>
    <span class="mx-2 fs-3"><i class="bi bi-instagram"></i></span>
    <a class="link" href="https://es-la.facebook.com"><img src='{% static "imagen/logos/face.png" %}' width="50" height="50"></a>
    <a class="link" href="https://www.instagram.com"><img src='{% static "imagen/logos/insta.png" %}' width="50" height="50"></a>
    <a class="link" href="https://twitter.com/?lang=es"><img src='{% static "imagen/logos/twitter.png" %}' width="50" height="50"></a>
    <a class="link" href="https://chat.whatsapp.com/LxEWPMyYEme5xClQJrjFi2"><img src='{% static "imagen/logos/wtspp.png" %}' width="50" height="50"></a>
    <a class="link" href="https://www.youtube.com/watch?v=7Tu7Xp1kp98"><img src='{% static "imagen/logos/youtube.png" %}' width="50" height="50"></a>
    <a class="link" href="https://www.youtube.com/watch?v=t4MKxFuyD7Q"></a>
    <a class="btn btn-primary" href='{%url 'correo' %}'><span class="mx-2 fs-3">CONTACTA A NUESTROS EJECUTIVOS</i></span></a>
  </footer>
</body>

</html>
{% endblock%}